@media (max-width: 599px) {
  nav {
    position: fixed;
    bottom: 0%;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 -2px 20px #4f555f48;
    background-color: whitesmoke;
  }

  .brand-logo {
    display: none;
  }

  .nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-links div a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links div a span {
    display: none;
  }
  .nav-links div a svg {
    width: 50%;
  }
}
@media (min-width: 600px) {
  nav {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #4f555f;
  }

  .brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links div a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-right: 0.5rem;
    padding: 0.2rem 0.4rem 0.15rem 0;
    padding: 0 1rem;
    color: whitesmoke;
  }
  .nav-links div a:active {
    border-bottom: 2px solid whitesmoke;
  }
  .nav-links div a svg {
    display: none;
  }
}
.rating-sash {
  position: absolute;
  z-index: 2;
  top: 1%;
  right: -14%;
  background-color: gray;
  width: 40%;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(50deg);
  color: whitesmoke;
  color: aliceblue;
  text-shadow: 0px 2px 3px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0px 2px 7px #2e2e2e;
}

.green-rating-sash {
  background-color: forestgreen;
}

.orange-rating-sash {
  background-color: goldenrod;
}

.yellow-rating-sash {
  background-color: #ffde34;
}

.gray-rating-sash {
  background-color: gray;
}

.red-rating-sash {
  background-color: crimson;
}

.movie-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  align-items: center;
}
.movie-card .img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/3;
  background-color: #234;
}
.movie-card a {
  text-decoration: none;
  width: 100%;
}
.movie-card a > p,
.movie-card p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.25rem;
  color: #fafaf9;
  align-self: start;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movie-card p {
  font-size: 0.95rem;
  font-weight: 390;
  color: #999da1;
  margin: 0;
}

.home-page {
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page h1 {
  font-size: 4rem;
  color: lightgrey;
}

.links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a {
  text-decoration: none;
  background-color: limegreen;
  background-color: #ffde34;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  color: whitesmoke;
  color: #333e50;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: none;
}
.links a:active {
  border: 2px solid #44546a;
  outline: 2px dashed #fafaf9;
}
.links a span {
  white-space: nowrap;
}

.movies-page {
  width: 100%;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-list {
  padding: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 20px 15px;
}

@media (max-width: 599px) {
  .details-page {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    margin-bottom: 50px;
    padding: 0.5rem 1rem 2rem;
    color: #fafaf9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .details-page .img {
    align-self: center;
    width: 320px;
    aspect-ratio: 2/3;
    object-fit: cover;
    background-color: cornflowerblue;
  }
  .details-page #title {
    margin: 0.4rem 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .details-page #plot-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .details-page .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
    margin: 0.5rem 0;
    color: #abaeaf;
  }
  .details-page #fullplot {
    font-weight: 300;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
  .details-page #plot {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
  }
  .details-page #toggle-btn {
    background-color: #171c24;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
  }
  .details-page .item-prim {
    color: #abaeaf;
    line-height: 2rem;
  }
  .details-page .item-sec {
    color: #fafaf9;
    font-weight: 400;
    padding: 0 0.5rem;
  }
}
@media (min-width: 600px) {
  .details-page {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 80%;
    margin: 2rem 0;
    color: #fafaf9;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .details-page .img {
    align-self: center;
    width: 500px;
    aspect-ratio: 2/3;
    object-fit: cover;
    background-color: cornflowerblue;
  }
  .details-page .details {
    padding: 0 3rem;
  }
  .details-page #title {
    margin: 0.4rem 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .details-page #plot-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .details-page .info {
    width: 100%;
    display: flex;
    line-height: 1.5rem;
    flex-direction: column;
    padding-right: 0.5rem;
    margin: 0.5rem 0;
    color: #abaeaf;
  }
  .details-page #fullplot {
    font-weight: 400;
    line-height: 1.5rem;
    margin: 1.2rem 0;
  }
  .details-page #plot {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    /* number of lines to show */
    line-clamp: 10;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    margin: 1.2rem 0;
  }
  .details-page #toggle-btn {
    display: none;
    background-color: #171c24;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
  }
  .details-page .item-prim {
    color: #abaeaf;
    line-height: 2rem;
  }
  .details-page .item-sec {
    color: #fafaf9;
    font-weight: 400;
    padding: 0 0.5rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #f9f9f9;
  background-color: #333e50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
